.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 900px;
}

.Dictionary {
  border: 0.3rem outset #c0bdf1;
  box-shadow: 5px 5px 50px #cccccc;
  height: 700px;
  width: 400px;
  border-radius: 10px;
}

.App .search {
  margin-top: 71px;
  text-align: center;
}
.text-box,
button {
  border: solid 2px #e98497;
  padding: 5px;
  background-color: #fff9f9;
  border-radius: 5px;
}
button {
  margin-left: 20px;
}
img {
  height: 290px;
  margin-top: 110px;
  margin-left: 12px;
}
footer {
  font-size: 10px;
  margin-left: 222px;
}
a {
  text-decoration: none;
  color: black;
}

h5 {
  font-size: 15px;
  font-weight: 100px;
  margin-left: 83px;
  margin-top: 85px;
  color: #8f67f2;
  font-family: "Arapey", serif;
}
a:hover {
  text-decoration: underline;
  color: #a39ff5;
}
